{
  "db_file": "D:\\tjupt.db",
  "cookie": "the_cookie",
  "user_agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:67.0) Gecko/20100101 Firefox/67.0",
  "interval": 300,
  "delay": 30,
  "save_dir": "D:\\Download",
  "ignore_type": ["资料", "游戏"],
  "skip": [
    [0, 2, 2],
    [2, 4, 5],
    [4, 8, 10],
    [8, 10, 4],
    [10, 18, 2],
    [18, 24, 1]
  ]
}
